footer {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;


    .colonna-1 {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        margin-right: 4%;

        img {
            align-self: flex-start;
            margin-right: 15px;
            width: 45px;
        }
        
        span {
            width: 82%;
            font-size: 16px;
            font-weight: bold;

            span {
                color: darkblue;
            }
        }
    }


    .colonna-2 {
        width: 61%;
        display: flex;
        justify-content: space-between;

        .menu{
            width: calc(100% / 5);
        }


        li{
            margin-top: 15px;
            font-size: 13px;
        }
    }

}