@import "variables";
@import "commons";
@import "header";
@import "first-section";
@import "second-section";
@import "third-section";
@import "fourth-section";
@import "fifth-section";
@import "footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: harmonia;
    src: url(../../HarmoniaSansProCyr-Bold.otf);
  }

body {
    font-family: harmonia, Verdana, Arial;
}
